@{
    string sexual = "Male";
    if (sexual == "Male")
    {
        <h1>Welcome Mr. @Model</h1>
    }
    else
    {
        <h1>Welcome Mrs. ....</h1>
    }
}
<h2>Phone: 010</h2>
<h2>Male</h2>
<h3>Age: 25</h3>

@{
    for (int i = 0; i < 10; i++)
    {
        <h4>@i</h4>
    }
}

